
/* Home and Help buttons */
.btn-success {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

/* Categpries drop-down menu on all pages */
.btn-secondary {
  background-color: transparent;
  border-color: transparent;
}

/* Index Navigation Buttons */
.nav-buttons {
  display: flex;
  justify-content: center;
}

/* Drop down menus and add/remove buttons on each category page */
.btn-default {
  border-color: black;
  background-color:white;
  color: black;
  width: 197px;
}

#add-button{
  border-color: black;
  background-color: green;
  color: white;
}

#remove-button{
  border-color: black;
  background-color: red;
  color: white;
}

.shadow{
  width: 600px;
}

/* Allows us to see the full jumbotron without having the navbar covering the top part of it */
.navbar-dark{
  margin-bottom: 50px;
}

/* Makes the drop-down arrow for datalist always visible */
input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

label{
  margin-right: 8px;
}

.margin-container{
  margin-right: 10px;
}

#resultTable th{
  background-color: #e9ecef;
  text-align: center;
}
#resultTable td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
