
/* Home and Help buttons */
.btn-primary{
  color: white;
  background-color: transparent;
  border-color: transparent;
}

/* Drop down menu*/
.btn-secondary{
  background-color: transparent;
  border-color: transparent;
}