
/* Home and Help buttons */
.btn-success {
  color: white;
  background-color: transparent;
  border-color: transparent;
}

/* Drop down menu*/
.btn-secondary {
  background-color: transparent;
  border-color: transparent;
}

/* Index Navigation Buttons */
.nav-buttons {
  display: flex;
  justify-content: center;
}
