<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <!-- Icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!-- Include CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <title>NHTSA Data Science - Super Soft Tacos</title>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-expand-sm bg-dark navbar-dark fixed-top">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <!-- Logo, with link to to the home page -->
            <a class="navbar-brand" href="{{ url_for('index') }}">C.A.R.S.</a>

            <!-- Make these Drop-downs/buttons left-jusitfied, the help button right-justified... -->
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <!-- Drop-down menu for categories -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url_for('multiple_fatalities') }}">Multiple Fatalities</a>
                        <a class="dropdown-item" href="{{ url_for('car_age') }}">Car Age</a>
                        <a class="dropdown-item" href="{{ url_for('location') }}">Location</a>
                    </div>
                </div>
            </ul>

            <!-- Button for Help Modal-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fas fa-question"></i>
            </button>
        </nav>

        <div class="container">
                <div class="jumbotron">
                    <h1 class="font-weight-bold">NHTSA Data Science Division - Super Soft Tacos</h1>
                    <p>Data Analytics regarding car accidents (Add more intro)...</p>          
                </div>
                <p>Add Home Page Stuff Here/background info</p>      
                <p>... Add directions.</p>
                <p>help content</p>
        </div>

        <!-- Help Modal Contents -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
        
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Help Screen</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
        
                    <!-- Modal body -->
                    <div class="modal-body">
                        <p>
                            You are currently reading the help screen for the home page of our application.
                            Please read the following sections to help answer any questions you have.
                        </p>

                        <p>
                            <b>C.A.R.S.:</b>
                                By clicking the C.A.R.S. logo (Crash Analysis Reporting System), you will be redirected to the home page.
                        </p>

                        <p>
                            <b>Categories:</b>
                                If you click on the Categories drop-down menu, you will be given the option to pick one of three categories.
                                The first option is for analyzing the likelihood of an accident having multiple fatalities given a certain
                                car (make and model). The second option allows you to analyze the the likelihood of a general car accident
                                based on the age of a car. The final option allows you to calculate the likelihood of an accident when given
                                a specific geographic location.
                        </p>

                        <p>
                            For any further questions, please refer to our GitHub repository: <a href="https://github.com/Marcoror150/MSCS-Project">MSCS-Project</a>
                        </p>

                    </div>
        
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
        
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>